// //////////////////////////////////////////////////////////////////////////////////////////////////
// ==================================================================================================
//
// Utilities: Responsive mixins
//
// ==================================================================================================
// //////////////////////////////////////////////////////////////////////////////////////////////////

@charset 'utf-8';

// Mixins
// ==================================================================================================
// Visible
// ------------------------------------------------
@mixin responsive-visibility($class-screen) {
  #{$class-screen} {
    display: block !important;
  }

  table#{$class-screen} {
    display: table !important;
  }

  tr#{$class-screen} {
    display: table-row !important;
  }

  th#{$class-screen},
  td#{$class-screen} {
    display: table-cell !important;
  }
}

// Hidden
// ------------------------------------------------
@mixin responsive-invisibility($class-screen) {
  #{$class-screen} {
    display: none !important;
  }
}
